@tailwind base;
@tailwind components;
@tailwind utilities;


@page {
  size: auto;
  margin: 2cm;
} 

/* Force color scheme light when printing to avoid issues with the footer being dark */
@media print { 
  html {
    color-scheme: light !important;
  }
}